<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert_access</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Insert Access records</h1>

            <select name="na" id="na">
                {% for i in webpage %}

                    <option value="{{i}}">{{ i.name }}</option>

                {% endfor %}
            </select>
            <br><br>

            <label for="au">Author</label>
            <input type="text" name="au" id="au">
            <br><br>

            <label for="da">Date</label>
            <input type="date" name="da" id="da">
            <br><br>

            <input type="submit" value="insert_access">
        </form>
    </center>
</body>
</html>
