<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert_webpage</title>
</head>
<body>
    <center>
        <h1>insert_webpage</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                {% for i in topic %}
                <option value="{{i}}">{{i.topic_name}}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="na">name</label>
            <input type="text" name="na" id="na">
            <br><br>

            <label for="ur">url</label>
            <input type="text" name="ur" id="ur">
            <br><br>
            <label for="em">email</label>
            <input type="text" name="em" id="em">
            <br><br>
        

            <input type="submit" value="insert_webpage">
        </form>
    </center>
</body>
</html>